body{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
   

}

header {
    background-color: rgb(40, 4, 106);
    color: #fff;
    padding: 15px 0;
}

/* Estilos para a navegação */
nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;

}

nav a {
    text-decoration: none;
    color: #fff;
    height: 30px;
}



.text_about{
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: white;
 

}

.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blueviolet;
}

.contain p{
    font-size: 25px;
}

footer{
    background-color: black;
    padding: 20px;
}

.caixa_footer{
    border: 1px solid #030303;
    padding: 10px;
    border-radius: 5px;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
}
.caixa_footer a{
    color: #00e013;
}