body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Estilos específicos para a página inicial */
body.pagina-inicial {
    background-color: #ffffff;
}

/* Estilos para o cabeçalho */
header {
    background-color: rgb(40, 4, 106);
    color: #fff;
    padding: 15px;
    
}

/* Estilos para a navegação */
nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;

}

nav a {
    text-decoration: none;
    color: #fff;
    height: 30px;
}


.btn {
    text-decoration: none;
    color: white;
    margin-top: -40px ;
    margin-right: 15px;
    float: right
    
}

.btn2 {
    text-decoration: none;
    color: white;
    margin-top: -40px ;
    margin-right: 80px;
    float: right
    
}

header img {
    /* background-color: red; */
    width: 10%;
    margin-right: 5%;

}


.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
}
.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}



.container a{
    display: inline-block;
    margin: 10px;
    color: rgb(40, 4, 106);
    text-decoration: none;
    padding: 10px;
    border: 1px solid rgb(40, 4, 106);
    background-color:white;
}

.container a:hover{
    background-color: blueviolet;
    color: white;
    transition: background-color 1s;
}



.text-post{
    text-align: center;
}

.postagens{
    text-align: center;
   
}

.postagens h2{
   
}
.postagens p{
    padding: 10px;
   
}
