body{
    margin-top: 20px;
    background-color: lightgrey;
    text-align: center;
}
.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;

}
.topbar{
<<<<<<< HEAD
    height: 60px;
    background-color: rgb(40, 4, 106);
=======
    background-color: rgb(26, 6, 82);
>>>>>>> bb524020c61c86b9b561d720076c56a7800ab8e5
    overflow: hidden;

}
.topbar a{
<<<<<<< HEAD
    
    margin-right: 15px;
    margin-top: 15px;
    float: right;
    color: whitesmoke;
    text-decoration: none;
    font-size: 26px;
    
    /* text-align: center; */
    /* padding: 26px 10px; */
=======
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
>>>>>>> bb524020c61c86b9b561d720076c56a7800ab8e5
}
.sidebar{
    background-color: #333;
    color: white;
    height: 100%;
}
.sidebar a{
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;

}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
}
.content{
    background-color: whitesmoke;
}